# Dependencias
node_modules/
**/node_modules/

# Compilados
dist/
build/

# Entornos
.env
.env.local

# Logs
*.log

# Archivos de sistema
.DS_Store
Thumbs.db

# Docker
*.pid

# Configuración de VSCode
.vscode/
